body{
    background:url(https://dr.savee-cdn.com/things/6/4/fa4e5ca1fc057e901242ca.webp);

}
header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    font-style: normal;
    font-size: large;

}
    
.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.logo{
    font-size: 45px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}  
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
footer{
    position: fixed;
    background-color: black
    left 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

article{
    background-color: rgb(182, 180, 180);
    width: 80%;
}
.contactanos{
    position: fixed;
    background-color: rgb(255, 255, 255);;
    margin: auto;
}
form{
    text-align: center;
    background-color: rgba(207, 207, 207, 0.37);
    width: 100%;
    height: 20%;
    color: rgb(0, 0, 0);
    text-shadow:20%  black;
    font-weight: 100;

   
   
}
iframe{
    height:300;
    width: 100;
}
